<div class="container-sm mt-5">
       
        
    <h1 class="text-center">--------Registration Form-------</h1>
    
<form method="post" class="p-5">
{% csrf_token %}
     <div class="row">
  <div class="col-25">
    <label for="fname">First Name</label>
  </div>
  <div class="col-75">
    <input type="text" id="fname" name="fname" placeholder="Your name..">
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="lname">Last Name</label>
  </div>
   <div class="col-75">
    <input type="text" id="lname" name="lname" placeholder="Your last name..">
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="email">email</label>
  </div>
   <div class="col-75">
    <input type="email" id="email" name="email" placeholder="Your email name..">
  </div>
  <div class="col-25">
    <label for="password">password</label>
    <input type="text" id="password" name="password" placeholder="Your password..">
  </div>
</div>
    <button type="submit" class='mt-3 text-primary'>Register</button>
    <a href="{% url 'login' %}"> login </a> Click hear if  registered 
    
</form>
</div>                                                                 register.html
